---
pagination:
  data: redirects
  size: 1
  alias: r
permalink: "{{ r.from }}index.html"
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ site.name }}</title>
<link rel="canonical" href="{{ site.url }}/">
<meta http-equiv="refresh" content="0; url={{ r.to }}">
<script>location.replace('{{ r.to }}')</script>
</head>
<body><p>This page has moved to <a href="{{ r.to }}">aimbusinessinc.com{{ r.to }}</a>.</p></body>
</html>
